@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

header{
  height: 150px;
  width: 100%;
  padding-top: 40px;  
}

h1{
    margin-bottom: 0;
    font-size: 62px;
    letter-spacing: 0px;
    color: #ffffff;
}
h2{
    font-size: 62px;
    font-weight: 950;
    letter-spacing: 0px;
}
h3{
    margin-bottom: 16px;
    margin-top: 24px;
    font-size: 29px;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: Handlee, Arial;
}
h4{
    margin-bottom: 14px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: News Cycle, Arial;
}

h5{
    margin-bottom: 18px;
    font-size: 44px;
    font-weight: 300;
    letter-spacing: 2px;
    color:#ffffff;
}

h6{
    margin-bottom: 14px;
    margin-top: -6px;
    font-size: 27px;
    font-weight: 800;
    letter-spacing: -1px;
}

#login2 h1{
    margin-bottom: 14px;
    margin-top: -6px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
    color: red;
}

p{
    margin-bottom: 30px;
    margin-top: 0px;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: News Cycle, Arial;
}

#informacion{
    background-color: white;
    color:black;
}

#funcionarios{
    background-color: #ededed;
    color:black;
}

#usuarios{
    background-color: #ededed;
    color:black;
}

#encabezado{
    background-color: #101010;
    color: white;
}

#combos{
    background-color: black;
    color:#ffffff;
}

#galeria{
    background-color: white;
    color:black;
}

#ubicanos{
    background-color: #f9f9f9;
    color: black;
}

#login{
    background-color: #e9e9e9;
    color: black;
}

#errorlogin{
    background-color: #101010;
    color: white;
}


#tabla-estrenos{
    background-color: #dfe6e9;
    color: black;
}

#registro{
    background-color: #e9e9e9;
    color: black;
}

#main-header{
    background-color:black;
    color: #ffffff;
    font-family: Modak, Arial;
    font-weight: 50;
    letter-spacing: 30px;
}
.padded{
    padding-top: 15px;
    padding-bottom: 15px;
}
.carousel.slide h5{
    font-size: 2rem;
    font-weight: 900;
    font-size: 44px;
}

.carousel.slide p{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    color:#ffffff;
}

#galeria figure figcaption{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-direction: column;
}

#galeria figure figcaption h6,
#galeria figure figcaption i{
    display: none;
}

#galeria figure figcaption i{
    cursor: pointer;
}

#fondo-oscuro{
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-direction: column;
    display: flex;
}

#fondo-oscuro img{
    border:solid 5px #888888;
    border-radius: 10px;
}

#fondo-oscuro h5{
    border: solid 5px #999;
    padding: 3px;
    background-color: #333;
    border-radius: 50px;
    margin-top: 10px;
    min-width: 250px;
    text-align: center;
}

#tabla{
    color:black;
}

.footer_box li{
    text-decoration: none;
}

.card-header{
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    background-color: black;
    color:white;
    border-radius: 50px;
}
.card-body{
    background-color: #cccccc;
    color:black;
    border-radius: 15px;
}

#detalle-pelicula{
    background-color: #f9f9f9;
    color: black;
}



